<p class="photo_cocktail"><%= cl_image_tag cocktail.photo.url, height: 300, width: 400, crop: :fill %></p>
<h2> <%= cocktail.name %> </h2>
<ul> <% cocktail.doses.each do |dose| %>
  <li class="ingredients"><i><%= link_to "", dose_path(dose), method: :delete, class: "fa fa-trash-o"%></i>  <%= dose.description %> of <%= dose.ingredient.name %>
  </li>
  <% end %>
</ul>
<p class= "btn btn-primary showmyform">Add a dose</p>
<br>

<div class="formidable hidden">
<%= simple_form_for [cocktail, cocktail.doses.new] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all  %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
